<!DOCTYPE html>
<html lang="zh" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('合同列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
<!--                        <li>-->
<!--                            <label>合同ID：</label>-->
<!--                            <input name="contractId" type="text"/>-->
<!--                        </li>-->
                        <li>
                            <label>标书ID：</label>
                            <input name="tenderId" type="text"/>
                        </li>
                        <li>
                            合同类型：<select name="contractType" th:with="type=${@dict.getType('contract_type')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="cp:contract:add">
                <i class="fa fa-plus"></i> 上传合同
            </a>
            <!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="cp:contract:edit">-->
            <!--                    <i class="fa fa-edit"></i> 修改-->
            <!--                </a>-->
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="cp:contract:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="cp:contract:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('cp:contract:edit')}]];
    var removeFlag = [[${@permission.hasPermi('cp:contract:remove')}]];
    var contractTypeDatas = [[${@dict.getType('contract_type')}]];
    var signatureADatas = [[${@dict.getType('contract_signature')}]];
    var signatureBDatas = [[${@dict.getType('contract_signature')}]];
    var prefix = ctx + "cp/contract";
    var downloadFlag = [[${@permission.hasPermi('cp:contract:download')}]];
    var detailFlag = [[${@permission.hasPermi('cp:contract:detail')}]];

    function downloadFile(value) {
        console.log("文件名");
        console.log("value");
        window.location.href = ctx + "common/download/resource?resource=" + value;
    }

    function detl(id) {
        $.modal.openFull("Dtail", ctx + "cp/contract/detail/" + id);
    }

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            detailUrl: prefix + "/detail/{id}",
            modalName: "合同",
            columns: [{
                checkbox: true
            },
                {
                    field: 'contractId',
                    title: '合同ID',
                    visible: false
                },
                {
                    field: 'tenderId',
                    title: '标书ID'
                },
                {
                    field: 'contractType',
                    title: '合同类别',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(contractTypeDatas, value);
                    }
                },
                {
                    field: 'contractDocument',
                    title: '合同文件',
                    visible: false
                },
                {
                    field: 'signatureA',
                    title: '甲方是否签名',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(signatureADatas, value);
                    }
                },
                {
                    field: 'signatureB',
                    title: '乙方是否签名',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(signatureBDatas, value);
                    }
                },
                {
                    field: 'contractTime',
                    title: '合同签定时间'
                },
                {
                    field: 'signatureUserId',
                    title: '非管理员签名方ID'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        // actions.push('<a class="btn btn-success btn-xs ' +detailFlag + '" href="javascript:void(0)" onclick="detl(\'' + row.contractId + '\')"><i class="fa fa-edit"></i>查看</a>');
                        // actions.push('<a class="btn btn-primary btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.contractId + '\')"><i class="fa fa-search"></i>查看</a>');
                        actions.push('<a class="btn btn-info btn-xs ' + downloadFlag + '" href="javascript:void(0)" onclick="downloadFile(\'' + row.contractDocument + '\')"><i class="fa fa-download"></i>下载合同文件</a>');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.contractId + '\')"><i class="fa fa-edit"></i>签名确认</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.contractId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>