<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改超市角色')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-supermarket-edit" th:object="${supermarket}">
        <input name="shopId" th:field="*{shopId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">超市名称：</label>
            <div class="col-sm-8">
                <input class="form-control" name="shopName" required th:field="*{shopName}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">昵称：</label>
            <div class="col-sm-8">
                <input class="form-control" name="nickname" required th:field="*{nickname}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">密码：</label>
            <div class="col-sm-8">
                <input class="form-control" name="password" required th:field="*{password}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">联系人姓名：</label>
            <div class="col-sm-8">
                <input class="form-control" name="contactPerson" required th:field="*{contactPerson}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">联系人电话：</label>
            <div class="col-sm-8">
                <input class="form-control" name="contactPhone" required th:field="*{contactPhone}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">联系人邮箱：</label>
            <div class="col-sm-8">
                <input class="form-control" name="contactEmail" required th:field="*{contactEmail}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">角色状态：</label>
            <div class="col-sm-8">
                <select class="form-control m-b" name="shopState" th:with="type=${@dict.getType('sys_common_status')}">
                    <option th:each="dict : ${type}" th:field="*{shopState}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "user/supermarket";
    $("#form-supermarket-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-supermarket-edit').serialize());
        }
    }
</script>
</body>
</html>