<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('超市角色列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>超市名称：</label>
                                <input type="text" name="shopName"/>
                            </li>
                            <li>
                                <label>昵称：</label>
                                <input type="text" name="nickname"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="user:supermarket:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="user:supermarket:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="user:supermarket:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="user:supermarket:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('user:supermarket:edit')}]];
        var removeFlag = [[${@permission.hasPermi('user:supermarket:remove')}]];
        var contactCardTypeDatas = [[${@dict.getType('con_card_type')}]];
        var shopStateDatas = [[${@dict.getType('sys_common_status')}]];
        var prefix = ctx + "user/supermarket";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "超市角色",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'shopId',
                    title: '',
                    visible: false
                },
                {
                    field: 'shopName',
                    title: '超市名称'
                },
                {
                    field: 'nickname',
                    title: '昵称'
                },
                {
                    field: 'contactPerson',
                    title: '联系人姓名'
                },
                {
                    field: 'contactPhone',
                    title: '联系人电话'
                },
                {
                    field: 'contactEmail',
                    title: '联系人邮箱'
                },
                {
                    field: 'registerTime',
                    title: '注册时间'
                },
                {
                    field: 'lastLogin',
                    title: '上次登陆时间'
                },
                {
                    field: 'shopState',
                    title: '角色状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(shopStateDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.shopId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.shopId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>