<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增供应商营业执照审核管理')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-supplierLicenseManage-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">公司名称：</label>
            <div class="col-sm-8">
                <input class="form-control" name="corporateName" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">全国信息代码号：</label>
            <div class="col-sm-8">
                <input class="form-control" name="registrationNumber" required type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">法人姓名：</label>
            <div class="col-sm-8">
                <input class="form-control" name="frName" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">法人身份证号码：</label>
            <div class="col-sm-8">
                <input class="form-control" name="idNumber" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">法人身份证正面jpg照片：</label>
            <div class="col-sm-8">
                <input name="frontPhoto" type="hidden">
                <div class="file-loading">
                    <input class="form-control file-upload" id="frontPhoto" name="file" type="file">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">法人身份证反面jpg照片：</label>
            <div class="col-sm-8">
                <input name="backPhoto" type="hidden">
                <div class="file-loading">
                    <input class="form-control file-upload" id="backPhoto" name="file" type="file">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">营业执照所在地：</label>
            <div class="col-sm-8">
                <input class="form-control" name="businessLicenseLocation" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">营业执照详细地址：</label>
            <div class="col-sm-8">
                <input class="form-control" name="businessLicenseAddress" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">成立日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input class="form-control" name="incorporationDate" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">注册资本：</label>
            <div class="col-sm-8">
                <input class="form-control" name="registeredCapital" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">营业范围：</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="businessScope"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">营业执照jpg照片：</label>
            <div class="col-sm-8">
                <input name="businessLicense" type="hidden">
                <div class="file-loading">
                    <input class="form-control file-upload" id="businessLicense" name="file" type="file">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司电话：</label>
            <div class="col-sm-8">
                <input class="form-control" name="officePhone" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司紧急联系人：</label>
            <div class="col-sm-8">
                <input class="form-control" name="emergencyContact" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司紧急联系人手机：</label>
            <div class="col-sm-8">
                <input class="form-control" name="emergencyContactPhone" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">创建时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input class="form-control" name="createDatetime" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script th:inline="javascript">
    var prefix = ctx + "audit/supplierLicenseManage"
    $("#form-supplierLicenseManage-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-supplierLicenseManage-add').serialize());
        }
    }

    $("input[name='incorporationDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='createDatetime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $(".file-upload").fileinput({
        uploadUrl: ctx + 'common/upload',
        maxFileCount: 1,
        autoReplace: true
    }).on('fileuploaded', function (event, data, previewId, index) {
        $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    })
</script>
</body>
</html>