<!DOCTYPE html>
<html lang="zh" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('集中采购记录列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>标书ID：</label>
                            <input name="tenderId" type="text"/>
                        </li>
                        <li>
                            <label>供应商ID：</label>
                            <input name="supplierId" type="text"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="bid:tender1:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="bid:tender1:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="bid:tender1:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('bid:tender1:edit')}]];
    var removeFlag = [[${@permission.hasPermi('bid:tender1:remove')}]];
    var downloadFlag = [[${@permission.hasPermi('bid:tender1:download')}]];
    var isBidDatas = [[${@dict.getType('is_bid')}]];
    var prefix = ctx + "bid/tender1";

    function downloadFile(value) {
        window.location.href = ctx + "common/download/resource?resource=" + value;
    }

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "集中采购记录",
            columns: [{
                checkbox: true
            },
                {
                    field: 'centralizedPurchaseRecordId',
                    title: '集中采购记录ID',
                    visible: false
                },
                {
                    field: 'tenderId',
                    title: '标书ID',
                    visible:false
                },
                {
                    field: 'tenderId',
                    title: '项目名称',
                    formatter: function (value, row, index) {
                        var data = {"tenderId": value};
                        var projectName="-";
                        $.ajax({
                            url: ctx + "bid/tender1/projectName",
                            type: "post",
                            dataType: "text",
                            data: data,
                            async: false,
                            success: function (result) {
                                projectName=result;
                            }
                        });

                        return projectName;
                    }
                },
                {
                    field: 'supplierId',
                    title: '供应商ID',
                    visible:false
                },
                {
                    field: 'supplierId',
                    title: '供应商',
                    formatter: function (value, row, index) {
                        var data = {"supplierId": value};
                        var corporateName="-";
                        $.ajax({
                            url: ctx + "bid/tender1/corporateName",
                            type: "post",
                            dataType: "text",
                            data: data,
                            async: false,
                            success: function (result) {
                                corporateName=result;
                            }
                        });

                        return corporateName;
                    }
                },
                {
                    field: 'tenderDocument',
                    title: '投标文件存储信息',
                    visible:false
                },
                {
                    field: 'centralizedPurchaseRecordTime',
                    title: '时间'
                },
                {
                    field: 'isBid',
                    title: '中标情况',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(isBidDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + downloadFlag + '" href="javascript:void(0)" onclick="downloadFile(\'' + row.tenderDocument + '\')"><i class="fa fa-download"></i>下载投标文件</a>');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.centralizedPurchaseRecordId + '\')"><i class="fa fa-edit"></i>审核</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.centralizedPurchaseRecordId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>