<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cps.cp.mapper.ChangeAnnouncementMapper">

    <resultMap type="ChangeAnnouncement" id="ChangeAnnouncementResult">
        <result property="changeAnnouncementId" column="change_announcement_id"/>
        <result property="changeAnnouncementDocument" column="change_announcement_document"/>
        <result property="tenderId" column="tender_id"/>
        <result property="changeTime" column="change_time"/>
        <result property="announcementName" column="announcement_name"/>
    </resultMap>

    <sql id="selectChangeAnnouncementVo">
        select change_announcement_id, announcement_name, change_announcement_document, tender_id, change_time
        from change_announcement
    </sql>

    <select id="selectChangeAnnouncementList" parameterType="ChangeAnnouncement" resultMap="ChangeAnnouncementResult">
        <include refid="selectChangeAnnouncementVo"/>
        <where>
            <if test="changeAnnouncementId != null  and changeAnnouncementId != ''">and change_announcement_id like
                concat('%', #{changeAnnouncementId}, '%')
            </if>
            <if test="announcementName != null  and announcementName != ''">and announcement_name like concat('%',
                #{announcementName}, '%')
            </if>
            <if test="tenderId != null  and tenderId != ''">and tender_Id like concat('%', #{tenderId}, '%')</if>
        </where>
    </select>

    <select id="selectChangeAnnouncementByChangeAnnouncementId" parameterType="String"
            resultMap="ChangeAnnouncementResult">
        <include refid="selectChangeAnnouncementVo"/>
        where change_announcement_id = #{changeAnnouncementId}
    </select>

    <insert id="insertChangeAnnouncement" parameterType="ChangeAnnouncement">
        insert into change_announcement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="changeAnnouncementId != null">change_announcement_id,</if>
            <if test="announcementName != null">announcement_name,</if>
            <if test="changeAnnouncementDocument != null and changeAnnouncementDocument != ''">
                change_announcement_document,
            </if>
            <if test="tenderId != null and tenderId != ''">tender_id,</if>
            <if test="changeTime != null">change_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="changeAnnouncementId != null">#{changeAnnouncementId},</if>
            <if test="announcementName != null">#{announcementName},</if>
            <if test="changeAnnouncementDocument != null and changeAnnouncementDocument != ''">
                #{changeAnnouncementDocument},
            </if>
            <if test="tenderId != null and tenderId != ''">#{tenderId},</if>
            <if test="changeTime != null">#{changeTime},</if>
        </trim>
    </insert>

    <update id="updateChangeAnnouncement" parameterType="ChangeAnnouncement">
        update change_announcement
        <trim prefix="SET" suffixOverrides=",">
            <if test="announcementName != null and announcementName != ''">announcement_name = #{announcementName},</if>
            <if test="changeAnnouncementDocument != null and changeAnnouncementDocument != ''">
                change_announcement_document = #{changeAnnouncementDocument},
            </if>
            <if test="tenderId != null and tenderId != ''">tender_id = #{tenderId},</if>
            <if test="changeTime != null">change_time = #{changeTime},</if>
        </trim>
        where change_announcement_id = #{changeAnnouncementId}
    </update>

    <delete id="deleteChangeAnnouncementByChangeAnnouncementId" parameterType="String">
        delete
        from change_announcement
        where change_announcement_id = #{changeAnnouncementId}
    </delete>

    <delete id="deleteChangeAnnouncementByChangeAnnouncementIds" parameterType="String">
        delete from change_announcement where change_announcement_id in
        <foreach item="changeAnnouncementId" collection="array" open="(" separator="," close=")">
            #{changeAnnouncementId}
        </foreach>
    </delete>

</mapper>