<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cps.cp.mapper.QualificationReviewMapper">
    
    <resultMap type="QualificationReview" id="QualificationReviewResult">
        <result property="qualificationReviewId"    column="qualification_review_id"    />
        <result property="supplyId"    column="supply_id"    />
        <result property="qualificationReviewDocument"    column="qualification_review_document"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="tenderId"    column="tender_id"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditExplanation"    column="audit_explanation"    />
        <result property="submitTime"    column="submit_time"    />
    </resultMap>

    <sql id="selectQualificationReviewVo">
        select qualification_review_id, supply_id, qualification_review_document, goods_id, tender_id, audit_status, audit_explanation, submit_time from qualification_review
    </sql>

    <select id="selectQualificationReviewList" parameterType="QualificationReview" resultMap="QualificationReviewResult">
        <include refid="selectQualificationReviewVo"/>
        <where>
            <if test="tenderId != null  and tenderId != ''"> and tender_id = #{tenderId}</if>
        </where>
    </select>
    
    <select id="selectQualificationReviewByQualificationReviewId" parameterType="String" resultMap="QualificationReviewResult">
        <include refid="selectQualificationReviewVo"/>
        where qualification_review_id = #{qualificationReviewId}
    </select>

    <select id="selectQualificationReviewByTenderIdAndSupplyId" resultMap="QualificationReviewResult">
        select *
        from qualification_review
        where supply_id = #{supply_id} and tender_id = #{tender_id}
    </select>
        
    <insert id="insertQualificationReview" parameterType="QualificationReview">
        insert into qualification_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qualificationReviewId != null">qualification_review_id,</if>
            <if test="supplyId != null">supply_id,</if>
            <if test="qualificationReviewDocument != null and qualificationReviewDocument != ''">qualification_review_document,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="tenderId != null and tenderId != ''">tender_id,</if>
            <if test="auditStatus != null and auditStatus != ''">audit_status,</if>
            <if test="auditExplanation != null and auditExplanation != ''">audit_explanation,</if>
            <if test="submitTime != null">submit_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="qualificationReviewId != null">#{qualificationReviewId},</if>
            <if test="supplyId != null">#{supplyId},</if>
            <if test="qualificationReviewDocument != null and qualificationReviewDocument != ''">#{qualificationReviewDocument},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="tenderId != null and tenderId != ''">#{tenderId},</if>
            <if test="auditStatus != null and auditStatus != ''">#{auditStatus},</if>
            <if test="auditExplanation != null and auditExplanation != ''">#{auditExplanation},</if>
            <if test="submitTime != null">#{submitTime},</if>
         </trim>
    </insert>

    <update id="updateQualificationReview" parameterType="QualificationReview">
        update qualification_review
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplyId != null">supply_id = #{supplyId},</if>
            <if test="qualificationReviewDocument != null and qualificationReviewDocument != ''">qualification_review_document = #{qualificationReviewDocument},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="tenderId != null and tenderId != ''">tender_id = #{tenderId},</if>
            <if test="auditStatus != null and auditStatus != ''">audit_status = #{auditStatus},</if>
            <if test="auditExplanation != null and auditExplanation != ''">audit_explanation = #{auditExplanation},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
        </trim>
        where qualification_review_id = #{qualificationReviewId}
    </update>

    <delete id="deleteQualificationReviewByQualificationReviewId" parameterType="String">
        delete from qualification_review where qualification_review_id = #{qualificationReviewId}
    </delete>

    <delete id="deleteQualificationReviewByQualificationReviewIds" parameterType="String">
        delete from qualification_review where qualification_review_id in 
        <foreach item="qualificationReviewId" collection="array" open="(" separator="," close=")">
            #{qualificationReviewId}
        </foreach>
    </delete>

</mapper>