<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <title>登录cps系统</title>
    <meta content="cps后台管理框架" name="description">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/style.min.css" rel="stylesheet" th:href="@{/css/style.min.css}"/>
    <link href="../static/css/login.min.css" rel="stylesheet" th:href="@{/css/login.min.css}"/>
    <link href="../static/cps/css/ry-ui.css" rel="stylesheet" th:href="@{/cps/css/ry-ui.css?v=4.7.4}"/>
    <!-- 360浏览器急速模式 -->
    <meta content="webkit" name="renderer">
    <!-- 避免IE使用兼容模式 -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link href="../static/favicon.ico" rel="shortcut icon" th:href="@{favicon.ico}"/>
    <style type="text/css">label.error {
        position: inherit;
    }</style>
    <script>
        if (window.top !== window.self) {
            alert('未登录或登录超时。请重新登录');
            window.top.location = window.location
        }
        ;
    </script>
</head>
<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1><img alt="[ cps ]" src="../static/cps.png" th:src="@{/cps.png}"></h1>
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用 <strong>cps 后台管理系统</strong></h4>
                <ul class="m-b">
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> SpringBoot</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Mybatis</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Shiro</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Thymeleaf</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Bootstrap</li>
                </ul>
                <strong th:if="${isAllowRegister}">还没有账号？ <a th:href="@{/register}" style="color: black">立即注册&raquo;</a></strong>
<!--                    <strong >还没有账号？ <a th:href="@{/register}">立即注册&raquo;</a></strong>-->
            </div>
        </div>
        <div class="col-sm-5" style="background-color: white;box-shadow: 0 5px 15px rgba(0, 0, 0, .8);">
            <form id="signupForm" autocomplete="off">
                <h2 class="no-margins" style="color: black;font: 900 28px '';letter-spacing: 1px" >Login</h2>
                <input type="text"     name="username" class="form-control uname"   style="width: 230px;margin: 20px 0;outline: none;border: 0;padding: 10px;border-bottom: 3px solid rgb(0, 100, 0);font: 900 16px '';"   placeholder="用户名"     />
                <input type="password" name="password" class="form-control pword"  style="width: 230px;margin: 20px 0;outline: none;border: 0;padding: 10px;border-bottom: 3px solid rgb(0, 100, 0);font: 900 16px '';"   placeholder="密码"   />
                <div class="row m-t" th:if="${captchaEnabled==true}">
                    <div class="col-xs-6">
                        <input type="text" name="validateCode" class="form-control code" placeholder="验证码" maxlength="5" />
                    </div>
                    <div class="col-xs-6">
                        <a href="javascript:void(0);" title="点击更换验证码">
                            <img th:src="@{/captcha/captchaImage(type=${captchaType})}" class="imgcode" width="85%"/>
                        </a>
                    </div>
                </div>
                <div class="checkbox-custom" th:if="${isRemembered}" th:classappend="${captchaEnabled==false} ? 'm-t'">
                    <input type="checkbox" id="rememberme" name="rememberme"> <label for="rememberme" style="color: black">记住我</label>
                </div>
                <button class="btn btn-success btn-block" style="outline:none;border-radius: 30px;line-height: 27px;background-image: linear-gradient(to left,#93FF93, #00BB00);border: 0" id="btnSubmit" data-loading="正在验证登录，请稍候...">登录</button>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            Copyright © 2020-2022 cps All Rights Reserved. <br>
        </div>
    </div>
</div>
<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<!--[if lte IE 8]>
<script>window.location.href = ctx + 'html/ie.html';</script><![endif]-->
<!-- 全局js -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/ajax/libs/validate/jquery.validate.min.js"
        th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../static/ajax/libs/layer/layer.min.js" th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script src="../static/ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script src="../static/cps/js/ry-ui.js" th:src="@{/cps/js/ry-ui.js?v=4.7.4}"></script>
<script src="../static/cps/login.js" th:src="@{/cps/login.js}"></script>
</body>
</html>
