<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('选择商品')"/>
</head>
<body class="gray-bg">
<div class="container-div">
  <div class="row">
    <div class="col-sm-12 search-collapse">
      <form id="formId">
        <div class="select-list">
          <ul>
            <li>
              <label>商品id：</label>
              <input name="productId" type="text"/>
            </li>
            <li>
              <label>商品名称：</label>
              <input name="productName" type="text"/>
            </li>
            <!--                            <li>
                                            <label>级别：</label>
                                            <select name="customerLevel" th:with="type=${@dict.getType('wms_level')}">
                                                <option value="">所有</option>
                                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                            </select>
                                        </li>-->
            <li>
              <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                      class="fa fa-search"></i>&nbsp;搜索</a>
              <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                      class="fa fa-refresh"></i>&nbsp;重置</a>
            </li>
          </ul>
        </div>
      </form>
    </div>

    <div class="col-sm-12 select-table table-striped">
      <table id="bootstrap-table"></table>
    </div>
  </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
  var prefix = ctx + "/user/product";
  $(function () {
    var options = {
      url: prefix + "/selectList",
      showSearch: false,
      showRefresh: false,
      showToggle: false,
      showColumns: false,
      modalName: "商品资料",
      columns: [
        {
          radio: true
        },
        {
          field: 'productId',
          title: '商品id',
          // visible: false
        },
        {
          field: 'productName',
          title: '商品名称'
        },
        {
          field: 'content',
          title: '商品内容'
        },
       ]
    };
    $.table.init(options);
  });

</script>
</body>
</html>