<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改自动生成标书信息')"/>
            <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-information-edit" th:object="${trenderInformation}">
        <input name="id" th:field="*{id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标书名称
                                ：</label>
                            <div class="col-sm-8">
                                <input name="tenderName" th:field="*{tenderName}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标书总体介绍
                                ：</label>
                            <div class="col-sm-8">
                                <textarea name="text" class="form-control">[[*{text}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">交货期
                                ：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="receiveTime"
                                           th:value="${#dates.format(trenderInformation.receiveTime, 'yyyy-MM-dd')}"
                                           class="form-control" placeholder="yyyy-MM-dd"
                                           type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">交货地点
                                ：</label>
                            <div class="col-sm-8">
                                <input name="deliverPoint" th:field="*{deliverPoint}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">项目概况与招标范围的补充内容
                                ：</label>
                            <div class="col-sm-8">
                                <textarea name="projectText" class="form-control">[[*{projectText}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">营业执照要求
                                ：</label>
                            <div class="col-sm-8">
                                <input name="license" th:field="*{license}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">对招标对象的财务要求
                                ：</label>
                            <div class="col-sm-8">
                                <input name="finance" th:field="*{finance}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">对招标对象的犯罪记录要求
                                ：</label>
                            <div class="col-sm-8">
                                <input name="illegal" th:field="*{illegal}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">对招标对象的信誉分要求
                                ：</label>
                            <div class="col-sm-8">
                                <input name="reputationRequirements" th:field="*{reputationRequirements}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">对招标对象的补充要求
                                ：</label>
                            <div class="col-sm-8">
                                <textarea name="bidderText" class="form-control">[[*{bidderText}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">招标文件的获取方式
                                ：</label>
                            <div class="col-sm-8">
                                <input name="documentsObtain" th:field="*{documentsObtain}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">投标文件递交的截止时间
                                ：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="bidDdl"
                                           th:value="${#dates.format(trenderInformation.bidDdl, 'yyyy-MM-dd')}"
                                           class="form-control" placeholder="yyyy-MM-dd"
                                           type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">递交单独密封的纸质版投标文件的递交地点
                                ：</label>
                            <div class="col-sm-8">
                                <input name="bidSubmission" th:field="*{bidSubmission}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">本次招标公告同时在哪些平台发布
                                ：</label>
                            <div class="col-sm-8">
                                <input name="otherPlatform" th:field="*{otherPlatform}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">电子招标投标规则
                                ：</label>
                            <div class="col-sm-8">
                                <textarea name="electronicBiddingRules" class="form-control">[[*{electronicBiddingRules}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">招标人
                                ：</label>
                            <div class="col-sm-8">
                                <input name="initiator" th:field="*{initiator}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">联系人
                                ：</label>
                            <div class="col-sm-8">
                                <input name="contacts" th:field="*{contacts}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">联系电话
                                ：</label>
                            <div class="col-sm-8">
                                <input name="contactNumber" th:field="*{contactNumber}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">电子邮件
                                ：</label>
                            <div class="col-sm-8">
                                <input name="email" th:field="*{email}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">地址
                                ：</label>
                            <div class="col-sm-8">
                                <input name="address" th:field="*{address}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">资质审核截止时间
                                ：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="qualificationReviewTime"
                                           th:value="${#dates.format(trenderInformation.qualificationReviewTime, 'yyyy-MM-dd')}"
                                           class="form-control" placeholder="yyyy-MM-dd"
                                           type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">竞标开始时间
                                ：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="biddingStartTime"
                                           th:value="${#dates.format(trenderInformation.biddingStartTime, 'yyyy-MM-dd')}"
                                           class="form-control" placeholder="yyyy-MM-dd"
                                           type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">竞标截止时间
                                ：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="biddingEndTime"
                                           th:value="${#dates.format(trenderInformation.biddingEndTime, 'yyyy-MM-dd')}"
                                           class="form-control" placeholder="yyyy-MM-dd"
                                           type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公布时间
                                ：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="publicationTime"
                                           th:value="${#dates.format(trenderInformation.publicationTime, 'yyyy-MM-dd')}"
                                           class="form-control" placeholder="yyyy-MM-dd"
                                           type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
        <th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    var prefix = ctx + "trender/information";
    $("#form-information-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-information-edit').serialize());
        }
    }

            $("input[name='receiveTime']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true
            });

            $("input[name='bidDdl']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true
            });

            $("input[name='qualificationReviewTime']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true
            });

            $("input[name='biddingStartTime']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true
            });

            $("input[name='biddingEndTime']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true
            });

            $("input[name='publicationTime']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true
            });
</script>
</body>
</html>