<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('自动生成标书信息列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                                    <li>
                                        <label>标书名称：</label>
                                        <input type="text" name="tenderName"/>
                                    </li>
                                    <li>
                                        <label>交货期：</label>
                                        <input type="text" class="time-input" placeholder="请选择交货期"
                                               name="receiveTime"/>
                                    </li>
                                    <li>
                                        <label>交货地点：</label>
                                        <input type="text" name="deliverPoint"/>
                                    </li>
                                    <li>
                                        <label>营业执照要求：</label>
                                        <input type="text" name="license"/>
                                    </li>
                                    <li>
                                        <label>对招标对象的财务要求：</label>
                                        <input type="text" name="finance"/>
                                    </li>
                                    <li>
                                        <label>对招标对象的犯罪记录要求：</label>
                                        <input type="text" name="illegal"/>
                                    </li>
                                    <li>
                                        <label>对招标对象的信誉分要求：</label>
                                        <input type="text" name="reputationRequirements"/>
                                    </li>
                                    <li>
                                        <label>招标文件的获取方式：</label>
                                        <input type="text" name="documentsObtain"/>
                                    </li>
                                    <li>
                                        <label>投标文件递交的截止时间：</label>
                                        <input type="text" class="time-input" placeholder="请选择投标文件递交的截止时间"
                                               name="bidDdl"/>
                                    </li>
                                    <li>
                                        <label>递交单独密封的纸质版投标文件的递交地点：</label>
                                        <input type="text" name="bidSubmission"/>
                                    </li>
                                    <li>
                                        <label>本次招标公告同时在哪些平台发布：</label>
                                        <input type="text" name="otherPlatform"/>
                                    </li>
                                    <li>
                                        <label>招标人：</label>
                                        <input type="text" name="initiator"/>
                                    </li>
                                    <li>
                                        <label>联系人：</label>
                                        <input type="text" name="contacts"/>
                                    </li>
                                    <li>
                                        <label>联系电话：</label>
                                        <input type="text" name="contactNumber"/>
                                    </li>
                                    <li>
                                        <label>电子邮件：</label>
                                        <input type="text" name="email"/>
                                    </li>
                                    <li>
                                        <label>地址：</label>
                                        <input type="text" name="address"/>
                                    </li>
                                    <li>
                                        <label>资质审核截止时间：</label>
                                        <input type="text" class="time-input" placeholder="请选择资质审核截止时间"
                                               name="qualificationReviewTime"/>
                                    </li>
                                    <li>
                                        <label>竞标开始时间：</label>
                                        <input type="text" class="time-input" placeholder="请选择竞标开始时间"
                                               name="biddingStartTime"/>
                                    </li>
                                    <li>
                                        <label>竞标截止时间：</label>
                                        <input type="text" class="time-input" placeholder="请选择竞标截止时间"
                                               name="biddingEndTime"/>
                                    </li>
                                    <li>
                                        <label>公布时间：</label>
                                        <input type="text" class="time-input" placeholder="请选择公布时间"
                                               name="publicationTime"/>
                                    </li>
                                    <li>
                                        <label>创建时间：</label>
                                        <input type="text" class="time-input" placeholder="请选择创建时间"
                                               name="createTime"/>
                                    </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="trender:information:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="trender:information:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="trender:information:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="trender:information:export" >
                <i class="fa fa-download"></i> 导出
            </a>
            <!--<a class="btn btn-warning" onclick="openFileIIs()" shiro:hasPermission="trender:information:export" >
                <i class="fa fa-download"></i> 打开招标公告文件夹
            </a>-->

        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<!--<script src="../../../static/js/jquery.min.js"></script>
<script src="../../../static/js/chat/axios.min.js"></script>-->
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('trender:information:edit')}]];
    var removeFlag = [[${@permission.hasPermi('trender:information:remove')}]];
    var prefix = ctx + "trender/information";
    function openFileIIs(){
        /*$.ajax({url:"/cp/seed/openFile",success:function(){
            }});*/
        $.post(ctx + "/cp/seed/openFile", function (data) {
        });
    }

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            downloadUrl:ctx + "test2/fileDownload",
            modalName: "自动生成标书信息",
            sortOrder: 'desc',
            sortName: 'id',
            columns: [{
                checkbox: true
            },
                        {
                            field: 'id',
                            title: '生成标书id',
                            visible: false,
                        },
                        {
                            field: 'tenderName',
                            title: '标书名称'
                        },
                        {
                            field: 'text',
                            title: '标书总体介绍'
                        },
                        {
                            field: 'receiveTime',
                            title: '交货期',
                            sortable: true
                        },
                        {
                            field: 'deliverPoint',
                            title: '交货地点'
                        },
                        {
                            field: 'projectText',
                            title: '项目概况与招标范围的补充内容'
                        },
                        {
                            field: 'license',
                            title: '营业执照要求'
                        },
                        {
                            field: 'finance',
                            title: '对招标对象的财务要求'
                        },
                        {
                            field: 'illegal',
                            title: '对招标对象的犯罪记录要求'
                        },
                        {
                            field: 'reputationRequirements',
                            title: '对招标对象的信誉分要求'
                        },
                        {
                            field: 'bidderText',
                            title: '对招标对象的补充要求'
                        },
                        {
                            field: 'documentsObtain',
                            title: '招标文件的获取方式'
                        },
                        {
                            field: 'bidDdl',
                            title: '投标文件递交的截止时间',
                            sortable: true
                        },
                        {
                            field: 'bidSubmission',
                            title: '递交单独密封的纸质版投标文件的递交地点'
                        },
                        {
                            field: 'otherPlatform',
                            title: '本次招标公告同时在哪些平台发布'
                        },
                        {
                            field: 'electronicBiddingRules',
                            title: '电子招标投标规则'
                        },
                        {
                            field: 'initiator',
                            title: '招标人'
                        },
                        {
                            field: 'contacts',
                            title: '联系人'
                        },
                        {
                            field: 'contactNumber',
                            title: '联系电话'
                        },
                        {
                            field: 'email',
                            title: '电子邮件'
                        },
                        {
                            field: 'address',
                            title: '地址'
                        },
                        {
                            field: 'qualificationReviewTime',
                            title: '资质审核截止时间',
                            sortable: true
                        },
                        {
                            field: 'biddingStartTime',
                            title: '竞标开始时间',
                            sortable: true
                        },
                        {
                            field: 'biddingEndTime',
                            title: '竞标截止时间',
                            sortable: true
                        },
                        {
                            field: 'publicationTime',
                            title: '公布时间',
                            sortable: true
                        },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-warning btn-xs " href="javascript:void(0)" onclick="doAjax_FileDownload(\''+ row.id + '\')"><i class="fa fa-remove"></i>下载</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    function onClickRow(row, $element){
        $element[0].firstElementChild.firstElementChild.click();
    }
    function doAjax_FileDownload(param, callback) {

        $.ajax({
            url:  ctx + "test2/fileDownload/"+param,
            type: "post",
            data: JSON.stringify(param),
            // 向服务器发送的数据类型
            contentType: 'application/json;charset=utf-8',
            // 💢💢💢指定服务器返回的类型,因为我们要返回文件流,所以类型为二进制数据
            dataType: "binary",
            // 💢💢💢原生 XMLHttpRequest 的属性,设置响应类型为blob,接收文件流
            xhrFields: {
                'responseType': 'blob'
            },
            success: function (result, status, xhr) {

                // 可通过XMLHttpRequest对象,获取响应头
                console.log(xhr);

                // 浏览器兼容
                const download_URL = (window.URL || window.webkitURL).createObjectURL(result);

                // 创建a标签,模拟点击下载
                const a_link = document.createElement('a');
                a_link.href = download_URL;
                // 利用了a标签的download属性,指定文件名称
                a_link.download = param + ".docx";
                document.body.appendChild(a_link);
                a_link.click();

                setTimeout(function () {
                    // 移除内存中的临时文件路径和为下载而创建的a标签
                    URL.revokeObjectURL(download_URL);
                    a_link.remove();
                }, 10000);
            },
            error: function (xhr, textStatus, errorMessage) {

                // 从响应头中获取异常信息,如果包含中文的话会乱码因此 后台URLEncoder.encode() + 前台decodeURIComponent() 防止乱码
                const errorInfo = decodeURIComponent(xhr.getResponseHeader("errorInfo"));

                // 对错误信息进行展示
                alert(errorInfo);
            }
        });
    }

    /*$("#btn").click(() => {

        const url = "http://localhost:8080/test2/fileDownload";
        const fileInfo = {
            fileName: '测试文件.text',
            fileId: 'A110120119'
        };
        doAjax_FileDownload(url, fileInfo, function () {});
    });*/

</script>
</body>
</html>