<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cps.audit.mapper.BusinessCreditEvaluationInfoMapper">

    <resultMap type="BusinessCreditEvaluationInfo" id="BusinessCreditEvaluationInfoResult">
        <result property="businessCreditEvaluationAuditId" column="business_credit_evaluation_audit_id"/>
        <result property="checklistId" column="checklist_id"/>
        <result property="frName" column="fr_name"/>
        <result property="frCriminalRecord" column="fr_criminal_record"/>
        <result property="createDatetime" column="create_datetime"/>
    </resultMap>

    <sql id="selectBusinessCreditEvaluationInfoVo">
        select business_credit_evaluation_audit_id, checklist_id, fr_name, fr_criminal_record, create_datetime
        from audit_business_credit_evaluation_info
    </sql>

    <select id="selectBusinessCreditEvaluationInfoList" parameterType="BusinessCreditEvaluationInfo"
            resultMap="BusinessCreditEvaluationInfoResult">
        <include refid="selectBusinessCreditEvaluationInfoVo"/>
        <where>
            <if test="checklistId != null  and checklistId != ''">and checklist_id = #{checklistId}</if>
            <if test="frName != null  and frName != ''">and fr_name like concat('%', #{frName}, '%')</if>
            <if test="frCriminalRecord != null  and frCriminalRecord != ''">and fr_criminal_record =
                #{frCriminalRecord}
            </if>
            <if test="createDatetime != null ">and create_datetime = #{createDatetime}</if>
        </where>
        order by create_datetime desc
    </select>

    <select id="selectBusinessCreditEvaluationInfoByBusinessCreditEvaluationAuditId" parameterType="String"
            resultMap="BusinessCreditEvaluationInfoResult">
        <include refid="selectBusinessCreditEvaluationInfoVo"/>
        where business_credit_evaluation_audit_id = #{businessCreditEvaluationAuditId}
    </select>

    <select id="selectBusinessCreditEvaluationInfoChecklistId" parameterType="String"
            resultMap="BusinessCreditEvaluationInfoResult">
        <include refid="selectBusinessCreditEvaluationInfoVo"/>
        where checklist_id = #{checklistId}
    </select>

    <insert id="insertBusinessCreditEvaluationInfo" parameterType="BusinessCreditEvaluationInfo">
        insert into audit_business_credit_evaluation_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="businessCreditEvaluationAuditId != null">business_credit_evaluation_audit_id,</if>
            <if test="checklistId != null and checklistId != ''">checklist_id,</if>
            <if test="frName != null">fr_name,</if>
            <if test="frCriminalRecord != null">fr_criminal_record,</if>
            <if test="createDatetime != null">create_datetime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="businessCreditEvaluationAuditId != null">#{businessCreditEvaluationAuditId},</if>
            <if test="checklistId != null and checklistId != ''">#{checklistId},</if>
            <if test="frName != null">#{frName},</if>
            <if test="frCriminalRecord != null">#{frCriminalRecord},</if>
            <if test="createDatetime != null">#{createDatetime},</if>
        </trim>
    </insert>

    <update id="updateBusinessCreditEvaluationInfo" parameterType="BusinessCreditEvaluationInfo">
        update audit_business_credit_evaluation_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="checklistId != null and checklistId != ''">checklist_id = #{checklistId},</if>
            <if test="frName != null">fr_name = #{frName},</if>
            <if test="frCriminalRecord != null">fr_criminal_record = #{frCriminalRecord},</if>
            <if test="createDatetime != null">create_datetime = #{createDatetime},</if>
        </trim>
        where business_credit_evaluation_audit_id = #{businessCreditEvaluationAuditId}
    </update>

    <delete id="deleteBusinessCreditEvaluationInfoByBusinessCreditEvaluationAuditId" parameterType="String">
        delete
        from audit_business_credit_evaluation_info
        where business_credit_evaluation_audit_id = #{businessCreditEvaluationAuditId}
    </delete>

    <delete id="deleteBusinessCreditEvaluationInfoByBusinessCreditEvaluationAuditIds" parameterType="String">
        delete from audit_business_credit_evaluation_info where business_credit_evaluation_audit_id in
        <foreach item="businessCreditEvaluationAuditId" collection="array" open="(" separator="," close=")">
            #{businessCreditEvaluationAuditId}
        </foreach>
    </delete>

</mapper>