<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cps.user.mapper.ProductBidMapper">

    <resultMap type="ProductBid" id="ProductBidResult">
            <result property="id" column="id"/>
            <result property="productId" column="product_id"/>
            <result property="skuId" column="sku_id"/>
            <result property="categoryId" column="category_id"/>
            <result property="startDate" column="start_date"/>
            <result property="endDate" column="end_date"/>
    </resultMap>

    <sql id="selectProductBidVo">
        select id, product_id, sku_id, category_id, start_date, end_date
        from product_bid
    </sql>

    <select id="selectProductBidList" parameterType="ProductBid" resultMap="ProductBidResult">
        <include refid="selectProductBidVo"/>
        <where>
                        <if test="productId != null  and productId != ''">
                            and product_id = #{productId}
                        </if>
                        <if test="skuId != null  and skuId != ''">
                            and sku_id = #{skuId}
                        </if>
                        <if test="categoryId != null  and categoryId != ''">
                            and category_id = #{categoryId}
                        </if>
                        <if test="startDate != null ">
                            and start_date = #{startDate}
                        </if>
                        <if test="endDate != null ">
                            and end_date = #{endDate}
                        </if>
        </where>
    </select>

    <select id="selectProductBidById" parameterType="String"
            resultMap="ProductBidResult">
            <include refid="selectProductBidVo"/>
            where id = #{id}
    </select>

    <insert id="insertProductBid" parameterType="ProductBid">
        insert into product_bid
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="id != null">id,
                    </if>
                    <if test="productId != null">product_id,
                    </if>
                    <if test="skuId != null">sku_id,
                    </if>
                    <if test="categoryId != null">category_id,
                    </if>
                    <if test="startDate != null">start_date,
                    </if>
                    <if test="endDate != null">end_date,
                    </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="id != null">#{id},
                    </if>
                    <if test="productId != null">#{productId},
                    </if>
                    <if test="skuId != null">#{skuId},
                    </if>
                    <if test="categoryId != null">#{categoryId},
                    </if>
                    <if test="startDate != null">#{startDate},
                    </if>
                    <if test="endDate != null">#{endDate},
                    </if>
        </trim>
    </insert>

    <update id="updateProductBid" parameterType="ProductBid">
        update product_bid
        <trim prefix="SET" suffixOverrides=",">
                    <if test="productId != null">product_id =
                        #{productId},
                    </if>
                    <if test="skuId != null">sku_id =
                        #{skuId},
                    </if>
                    <if test="categoryId != null">category_id =
                        #{categoryId},
                    </if>
                    <if test="startDate != null">start_date =
                        #{startDate},
                    </if>
                    <if test="endDate != null">end_date =
                        #{endDate},
                    </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductBidById" parameterType="String">
        delete
        from product_bid where id = #{id}
    </delete>

    <delete id="deleteProductBidByIds" parameterType="String">
        delete from product_bid where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>