<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cps.user.mapper.ProductImgMapper">

  <resultMap type="com.cps.user.domain.ProductImg" id="ProductImgResult">
    <result property="id"    column="id"    />
    <result property="itemId"    column="item_id"    />
    <result property="url"    column="url"    />
    <result property="sort"    column="sort"    />
    <result property="isMain"    column="is_main"    />
    <result property="createdTime"    column="created_time"    />
    <result property="updatedTime"    column="updated_time"    />
  </resultMap>

  <sql id="selectProductImgVo">
    select id, item_id, url, sort, is_main, created_time, updated_time from product_img
  </sql>

  <select id="selectProductImgList" parameterType="com.cps.user.domain.ProductImg" resultMap="ProductImgResult">
    <include refid="selectProductImgVo"/>
    <where>
      <if test="itemId != null  and itemId != ''"> and item_id = #{itemId}</if>
      <if test="url != null  and url != ''"> and url = #{url}</if>
      <if test="sort != null "> and sort = #{sort}</if>
      <if test="isMain != null "> and is_main = #{isMain}</if>
      <if test="createdTime != null "> and created_time = #{createdTime}</if>
      <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
    </where>
  </select>

  <select id="selectProductImgById" parameterType="String" resultMap="ProductImgResult">
    <include refid="selectProductImgVo"/>
    where id = #{id}
  </select>

  <insert id="insertProductImg" parameterType="com.cps.user.domain.ProductImg">
    insert into product_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="itemId != null and itemId != ''">item_id,</if>
      <if test="url != null and url != ''">url,</if>
      <if test="sort != null">sort,</if>
      <if test="isMain != null">is_main,</if>
      <if test="createdTime != null">created_time,</if>
      <if test="updatedTime != null">updated_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id},</if>
      <if test="itemId != null and itemId != ''">#{itemId},</if>
      <if test="url != null and url != ''">#{url},</if>
      <if test="sort != null">#{sort},</if>
      <if test="isMain != null">#{isMain},</if>
      <if test="createdTime != null">#{createdTime},</if>
      <if test="updatedTime != null">#{updatedTime},</if>
    </trim>
  </insert>

  <update id="updateProductImg" parameterType="com.cps.user.domain.ProductImg">
    update product_img
    <trim prefix="SET" suffixOverrides=",">
      <if test="itemId != null and itemId != ''">item_id = #{itemId},</if>
      <if test="url != null and url != ''">url = #{url},</if>
      <if test="sort != null">sort = #{sort},</if>
      <if test="isMain != null">is_main = #{isMain},</if>
      <if test="createdTime != null">created_time = #{createdTime},</if>
      <if test="updatedTime != null">updated_time = #{updatedTime},</if>
    </trim>
    where id = #{id}
  </update>

  <delete id="deleteProductImgById" parameterType="String">
    delete from product_img where id = #{id}
  </delete>

  <delete id="deleteProductImgByIds" parameterType="String">
    delete from product_img where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

</mapper>