<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('商品销量')"/>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js" type="text/javascript"></script>
</head>
<body class="white-bg">
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 80%;height:80%;"></div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: echarts-js"/>
<script th:inline="javascript">
    var prefix = ctx + "user/orders";
    var myChart = echarts.init(document.getElementById("main"));

    myChart.on("click", function (params) {
        console.log(params.data);
        $.modal.openTab(params.name+"买家图", prefix + "/receiver/" + params.data.productId);
    });

    var pie=[];

    var productList=[[${productList}]];
    var soldNumList=[[${soldNumList}]];
    for (var i=0;i<productList.length;i++){
        var info={};
        info.name=productList[i].productName;
        info.productId=productList[i].productId;
        info.value=soldNumList[i];
        pie.push(info);
    }

    var option = {
        title: {
            text: '商品销量汇总',
            x: 'center',
            y:"30",
            textStyle:{
                fontSize:30
            }
        },
        textStyle:{
            fontSize:20
        },
        legend: {
            orient: 'vertical',
            x:'right',
            y:'center',
            itemHeight: 20,
            itemWidth:45,
            textStyle: {
                fontSize: 20
            }
        },
        tooltip : {
            trigger: 'item',
            formatter: "{b} : {c}({d}%)"
        },
        series: [
            {
                name: "销量",
                type: "pie",
                radius:"55%",
                data: pie
            }
        ]
    };

    function showChart() {
        myChart.clear();
        myChart.setOption(option);
    }

    showChart();
</script>
</body>
</html>
