<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>供应商名称：</label>
                            <input type="text" name="userName"/>
                        </li>
                        <li>
                            <label>产品名称：</label>
                            <input type="text" name="untitled"/>
                        </li>
                        <li class="select-time">
                            <label>创建时间：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="user:orders:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="user:orders:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="user:orders:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="user:orders:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-warning" onclick="$.operate.echartsFull()">
                <i class="fa fa-download"></i> 柱状图
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('user:orders:edit')}]];
    var removeFlag = [[${@permission.hasPermi('user:orders:remove')}]];
    var statusDatas = [[${@dict.getType('order_status')}]];
    var deleteStatusDatas = [[${@dict.getType('delete_status')}]];
    var closeTypeDatas = [[${@dict.getType('order_close_type')}]];
    var prefix = ctx + "user/orders";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            echartUrl: prefix + "/goods",
            modalName: "商品订单",
            columns: [{
                checkbox: true
            },
                {
                    field: 'orderId',
                    title: '订单ID'
                },
                {
                    field: 'userId',
                    title: '用户ID'
                },
                {
                    field: 'untitled',
                    title: '产品名称'
                },
                {
                    field: 'receiverName',
                    title: '收货人快照'
                },
                {
                    field: 'receiverMobile',
                    title: '收货人手机号快照'
                },
                {
                    field: 'receiverAddress',
                    title: '收货地址快照'
                },
                {
                    field: 'totalAmount',
                    title: '订单总价格'
                },
                {
                    field: 'orderRemark',
                    title: '订单备注'
                },
                {
                    field: 'status',
                    title: '订单状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'deliveryType',
                    title: '配送方式'
                },
                {
                    field: 'deliveryFlowId',
                    title: '物流单号'
                },
                {
                    field: 'orderFreight',
                    title: '订单运费 默认可以为零，代表包邮'
                },
                {
                    field: 'deleteStatus',
                    title: '逻辑删除状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(deleteStatusDatas, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'updateTime',
                    title: '更新时间'
                },
                {
                    field: 'payTime',
                    title: '付款时间'
                },
                {
                    field: 'deliveryTime',
                    title: '发货时间'
                },
                {
                    field: 'flishTime',
                    title: '完成时间'
                },
                {
                    field: 'cancelTime',
                    title: '取消时间'
                },
                {
                    field: 'closeType',
                    title: '订单关闭类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(closeTypeDatas, value);
                    }
                },
                {
                    field: 'dueTime',
                    title: '订单交割时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.orderId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.orderId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>