<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('商品买家')"/>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js" type="text/javascript"></script>
</head>
<body class="white-bg">
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="margin: auto; width: 800px;height:600px;"></div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: echarts-js"/>
<script th:inline="javascript">
    var prefix = ctx + "user/orders";
    var myChart = echarts.init(document.getElementById("main"));

    var pie=[];

    var keys = Object.keys([[${orderDict}]]);
    var values = Object.values([[${orderDict}]]);
    for (var i=0;i<keys.length;i++){
        var info={};
        info.name=keys[i];
        info.value=values[i];
        pie.push(info);
    }

    var option = {
        title: {
            text: [[${goodName}]]+ '买家汇总',
            left: 'center',
            top: 20
        },
        tooltip : {
            trigger: 'item',
            formatter: "{b} : {c}({d}%)"
        },
        series: [
            {
                name: "订单数",
                type: "pie",
                radius:"55%",
                data: pie
            }
        ]
    };

    function showChart() {
        myChart.clear();
        myChart.setOption(option);
    }

    showChart();
</script>
</body>
</html>