<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增小商超审核管理')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-businessLicenseManage-add">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">个体工商户营业执照：</label>
            <div class="col-sm-8">
                <input id="businessLicenseList" name="businessLicense" type="hidden">
                <div class="file-loading">
                    <input class="form-control file-upload" id="businessLicense" name="file" type="file" accept=".bmp,.jpg,.jpeg,.png,.gif">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">个体工商户营业执照号码：</label>
            <div class="col-sm-8">
                <input class="form-control" name="businessLicenseNumber" required type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">经营者：</label>
            <div class="col-sm-8">
                <input class="form-control" name="managerName" required type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">小商超名称：</label>
            <div class="col-sm-8">
                <input class="form-control" name="businessName" required type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">经营场所位置：</label>
            <div class="col-sm-8">
                <input class="form-control" name="businessPlace" required type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">组成形式：</label>
            <div class="col-sm-8">
                <select class="form-control" name="businessForm">
                    <option selected value="1">个人经营</option>
                    <option value="2">家庭经营</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">注册日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input class="form-control" name="registerDate" placeholder="yyyy-MM-dd" required type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">经营范围：</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="businessScope" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">经营许可证：</label>
            <div class="col-sm-8">
                <input id="businessCertificateList" name="businessCertificate" type="hidden">
                <div class="file-loading">
                    <input class="form-control file-upload" id="businessCertificate" name="file" type="file" accept=".bmp,.jpg,.jpeg,.png,.gif">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">联系人姓名：</label>
            <div class="col-sm-8">
                <input class="form-control" name="contactPerson" required type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">联系人证件类型：</label>
            <div class="col-sm-8">
                <select class="form-control" id="contactCardType" name="contactCardType"
                        onchange="setIdNumberRoleByCardType()" required>
                    <option selected value="1">身份证</option>
                    <option value="2">港澳居民来往内地通行证</option>
                    <option value="3">台湾居民来往大陆通行证</option>
                    <option value="4">普通护照</option>
                    <option value="5">外国人永久居留身份证</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">联系人证件号：</label>
            <div class="col-sm-8">
                <input class="form-control" id="idNumber" name="idNumber" required type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">联系人证件正面：</label>
            <div class="col-sm-8">
                <input id="frontPhotoList" name="frontPhoto" type="hidden">
                <div class="file-loading">
                    <input class="form-control file-upload" id="frontPhoto" name="file" type="file" accept=".bmp,.jpg,.jpeg,.png,.gif">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">联系人证件反面：</label>
            <div class="col-sm-8">
                <input id="backPhotoList" name="backPhoto" type="hidden">
                <div class="file-loading">
                    <input class="form-control file-upload" id="backPhoto" name="file" type="file" accept=".bmp,.jpg,.jpeg,.png,.gif">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">联系人手机号：</label>
            <div class="col-sm-8">
                <input class="form-control" name="contactPhone" required type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">联系人邮箱：</label>
            <div class="col-sm-8">
                <input class="form-control" name="contactEmail" required type="email">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script th:inline="javascript">
    var prefix = ctx + "audit/businessLicenseManage";
    $("#form-businessLicenseManage-add").validate({
        focusCleanup: true,
        rules: {
            businessLicenseNumber: {
                digits: true,
                rangelength: [18, 18]
            },
            managerName: "isName",
            businessName: "isName",
            businessPlace: "isAddress",
            businessScope: {
                maxlength: 50
            },
            contactPerson: "isName",
            contactPhone: "isPhone"
        },
        messages: {
            businessLicenseNumber: "请输入18位营业执照号码"
        }
    });
    setIdNumberRoleByCardType();

    function setIdNumberRoleByCardType() {
        var value = $("#contactCardType").val();

        switch (value) {
            case "1":
                $("#idNumber").rules("remove");
                $("#idNumber").rules("add", {isIdentity: true});
                break;
            case "2":
                $("#idNumber").rules("remove");
                $("#idNumber").rules("add", {isHKCard: true});
                break;
            case "3":
                $("#idNumber").rules("remove");
                $("#idNumber").rules("add", {isTWCard: true});
                break;
            case "4":
                $("#idNumber").rules("remove");
                $("#idNumber").rules("add", {isPassPortCard: true});
                break;
            case "5":
                $("#idNumber").rules("remove");
                $("#idNumber").rules("add", {isPRCard: true});
                break;
        }
    }

    function submitHandler() {
        if ($.validate.form()) {
            if ($.common.isEmpty($("#businessLicenseList").val())) {
                $.modal.msgWarning("请上传个体工商户营业执照");
                return;
            }
            if ($.common.isEmpty($("#businessCertificateList").val())) {
                $.modal.msgWarning("请上传经营许可证");
                return;
            }
            if ($.common.isEmpty($("#frontPhotoList").val())) {
                $.modal.msgWarning("请上传联系人证件正面照片");
                return;
            }
            if ($.common.isEmpty($("#backPhotoList").val())) {
                $.modal.msgWarning("请上传联系人证件反面照片");
                return;
            }
            $.operate.save(prefix + "/add", $('#form-businessLicenseManage-add').serialize());
            $.modal.close();
            $.modal.closeTab();
        }
    }

    $("input[name='registerDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $(".file-upload").fileinput({
        uploadUrl: ctx + 'common/upload',
        maxFileCount: 1,
        autoReplace: true
    }).on('fileuploaded', function (event, data, previewId, index) {
        $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    })
</script>
</body>
</html>