<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('供应商提交营业执照')"/>
</head>

<body>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    switch ([[${status}]]) {
        case "0"://未提交
            $.modal.open("提交营业执照", "audit/supplierLicenseManage/add");
            break;
        case "1"://未审核
            $.modal.alert("审核中，请等待");
            break;
        case "2"://审核通过
            $.modal.alertSuccess("审核通过");
            break;
        case "3"://审核未通过
            $.modal.open("修改信用评价", "audit/supplierLicenseManage/edit/"+[[${checklistId}]]);
            $.modal.alertError("审核未通过，请修改");
            break;
    }
</script>
</body>
</html>