<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<th:block th:include="include :: header('供应商提交审核材料')" />
</head>

<body>
<div class="col-md-12">
    <div class="form-group">
        <label class="col-sm-3 control-label">提交材料类型：</label>
        <div class="col-sm-9">
            <select class="form-control" id="seleteType">
                    <option>信用审查</option>
        			<option>营业执照</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 col-sm-offset-3">
            <button type="submit" class="btn btn-primary" onclick="clickbutton()">请求提交</button>
        </div>
    </div>
</div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
    	function clickbutton(){
        	var select=document.getElementById("seleteType");
        	var selectedIndex=select.selectedIndex;
        	if(selectedIndex==0){
        		$.modal.open("提交信用审查","audit/supplierCreditEvaluationManage/add",1024,768,function(index, layero) {
                    var iframeWin = layero.find('iframe')[0];
                    iframeWin.contentWindow.submitHandler(index, layero);
                    
                    $.modal.msgSuccessReload("提交成功！");
                });
        	}
        	else if(selectedIndex==1){
        		$.modal.open("提交营业执照","audit/supplierLicenseManage/add",1024,768,function(index, layero) {
                    var iframeWin = layero.find('iframe')[0];
                    iframeWin.contentWindow.submitHandler(index, layero);
                    
                    $.modal.msgSuccessReload("提交成功！");
                });
        	}
    	}   	    
   
    </script>

</body>

</html>