<!DOCTYPE html>
<html lang="zh" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('中标候选人公示公告列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
<!--                            <li>-->
<!--                                <label>中标候选人公示公告ID：</label>-->
<!--                                <input type="text" name="bidWinningCandidatesAnnouncementId"/>-->
<!--                            </li>-->
                        <li>
                            <label>标题：</label>
                            <input name="announcementName" type="text"/>
                        </li>
<!--                        <li>-->
<!--                            <label>标书ID：</label>-->
<!--                            <input name="tenderId" type="text"/>-->
<!--                        </li>-->
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="cp:bidWinningCandidates:add">
                <i class="fa fa-plus"></i> 发布中标候选人公示
            </a>
            <!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="cp:bidWinningCandidates:edit">-->
            <!--                    <i class="fa fa-edit"></i> 修改-->
            <!--                </a>-->
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="cp:bidWinningCandidates:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="cp:bidWinningCandidates:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-info" download=""
               href="http://localhost:80/cps/documentTemplate/bidWinningCandidates.docx"><i class="fa fa-download"></i> 下载中标候选人公示模板</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('cp:bidWinningCandidates:edit')}]];
    var removeFlag = [[${@permission.hasPermi('cp:bidWinningCandidates:remove')}]];
    var prefix = ctx + "cp/bidWinningCandidates";
    var downloadFlag = [[${@permission.hasPermi('cp:bidWinningCandidates:download')}]];

    function downloadFile(value) {
        console.log("文件名");
        console.log("value");
        window.location.href = ctx + "common/download/resource?resource=" + value;
    }

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "中标候选人公示公告",
            columns: [{
                checkbox: true
            },
                {
                    field: 'bidWinningCandidatesAnnouncementId',
                    title: '中标候选人公示ID',
                    visible: false
                },
                {
                    field: 'announcementName',
                    title: '标题',
                },
                {
                    field: 'bidWinningCandidatesDocument',
                    title: '中标候选人公示公告文件',
                    visible: false
                },
                {
                    field: 'tenderId',
                    title: '标书ID',
                    visible: false
                },
                {
                    field: 'publicityTime',
                    title: '公示时间'
                },
                {
                    field: 'deadlineTime',
                    title: '公示截止时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + downloadFlag + '" href="javascript:void(0)" onclick="downloadFile(\'' + row.bidWinningCandidatesDocument + '\')"><i class="fa fa-download"></i>下载公示文件</a>');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.bidWinningCandidatesAnnouncementId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.bidWinningCandidatesAnnouncementId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>