<!DOCTYPE html>
<html lang="zh" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('供应商评价审核管理列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>审核单id：</label>
                            <input name="checklistId" type="text"/>
                        </li>
                        <li>
                            <label>公司名称：</label>
                            <input name="corporateName" type="text"/>
                        </li>
                        <li>
                            <label>法人姓名：</label>
                            <input name="frName" type="text"/>
                        </li>
                        <!--                            <li>-->
                        <!--                                <label>创建时间：</label>-->
                        <!--                                <input type="text" class="time-input" placeholder="请选择创建时间" name="createDatetime"/>-->
                        <!--                            </li>-->
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
<!--            <a class="btn btn-success" onclick="$.operate.add()"-->
<!--               shiro:hasPermission="audit:supplierCreditEvaluationManage:add">-->
<!--                <i class="fa fa-plus"></i> 添加-->
<!--            </a>-->
            <!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="audit:supplierCreditEvaluationManage:edit">-->
            <!--                    <i class="fa fa-edit"></i> 修改-->
            <!--                </a>-->
            <!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="audit:supplierCreditEvaluationManage:remove">-->
            <!--                    <i class="fa fa-remove"></i> 删除-->
            <!--                </a>-->
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="audit:supplierCreditEvaluationManage:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('audit:supplierCreditEvaluationManage:edit')}]];
    var removeFlag = [[${@permission.hasPermi('audit:supplierCreditEvaluationManage:remove')}]];
    var auditStateDatas = [[${@dict.getType('sys_examine_status')}]];
    var prefix = ctx + "audit/supplierCreditEvaluationManage";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            // updateUrl: prefix + "/edit/{id}",
            updateUrl: ctx + "audit/auditDocumentsManage" + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "供应商评价审核管理",
            columns: [{
                checkbox: true
            },
                {
                    field: 'checklistId',
                    title: '审核状态',
                    formatter: function (value, row, index) {
                        let auditStatus = "1";
                        let data = {"checklistId": value};
                        $.ajax({
                            url: ctx + "audit/auditDocumentsManage/search-status",
                            type: "post",
                            dataType: "json",
                            data: data,
                            async: false,
                            success: function (result) {
                                auditStatus = result;
                            }
                        })
                        auditStatus -= 1;
                        return $.table.selectDictLabel(auditStateDatas, auditStatus);
                    }
                },
                {
                    field: 'supplierCreditEvaluationAuditId',
                    title: '审核id',
                    visible: false
                },
                {
                    field: 'checklistId',
                    title: '审核单id',
                    visible: false
                },
                {
                    field: 'corporateName',
                    title: '公司名称'
                },
                {
                    field: 'corporateCreditInfo',
                    title: '公司征信信息',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<img alt="公司征信信息" class="img-xs img-circle" data-height="auto" data-width="auto" data-target="self" style="border-radius:0;"   src="' + row.corporateCreditInfo + '">');
                        return actions.join('');
                    }
                },
                {
                    field: 'frName',
                    title: '法人姓名'
                },
                {
                    field: 'frCriminalRecord',
                    title: '法人无犯罪记录信息',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<img alt="法人无犯罪记录信息" class="img-xs img-circle" data-height="auto" data-width="auto" data-target="self" style="border-radius:0;"   src="' + row.frCriminalRecord + '">');
                        return actions.join('');
                    }
                },
                {
                    field: 'createDatetime',
                    title: '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.checklistId + '\')"><i class="fa fa-edit"></i>审核</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.supplierCreditEvaluationAuditId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>