<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cps.product.mapper.ProductIndexInfoMapper">
    
    <resultMap type="ProductIndexInfo" id="ProductIndexInfoResult">
        <result property="productIndexId"    column="product_index_id"    />
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="indexName"    column="index_name"    />
        <result property="indexUnit"    column="index_unit"    />
        <result property="indexMin"    column="index_min"    />
        <result property="indexMax"    column="index_max"    />
        <result property="indexStatus"    column="index_status"    />
        <result property="updateDatetime"    column="update_datetime"    />
    </resultMap>

    <sql id="selectProductIndexInfoVo">
        select product_index_id, product_id, product_name, index_name, index_unit, index_min, index_max, index_status, update_datetime from product_index_info
    </sql>

    <select id="selectProductIndexInfoList" parameterType="ProductIndexInfo" resultMap="ProductIndexInfoResult">
        <include refid="selectProductIndexInfoVo"/>
        <where>  
            <if test="productId != null  and productId != ''"> and product_id = #{productId}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="indexName != null  and indexName != ''"> and index_name like concat('%', #{indexName}, '%')</if>
            <if test="indexUnit != null  and indexUnit != ''"> and index_unit = #{indexUnit}</if>
            <if test="indexMin != null "> and index_min = #{indexMin}</if>
            <if test="indexMax != null "> and index_max = #{indexMax}</if>
            <if test="indexStatus != null  and indexStatus != ''"> and index_status = #{indexStatus}</if>
            <if test="updateDatetime != null "> and update_datetime = #{updateDatetime}</if>
        </where>
    </select>
    
    <select id="selectProductIndexInfoByProductIndexId" parameterType="String" resultMap="ProductIndexInfoResult">
        <include refid="selectProductIndexInfoVo"/>
        where product_index_id = #{productIndexId}
    </select>
        
    <insert id="insertProductIndexInfo" parameterType="ProductIndexInfo">
        insert into product_index_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productIndexId != null">product_index_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="indexName != null and indexName != ''">index_name,</if>
            <if test="indexUnit != null and indexUnit != ''">index_unit,</if>
            <if test="indexMin != null">index_min,</if>
            <if test="indexMax != null">index_max,</if>
            <if test="indexStatus != null">index_status,</if>
            <if test="updateDatetime != null">update_datetime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productIndexId != null">#{productIndexId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="indexName != null and indexName != ''">#{indexName},</if>
            <if test="indexUnit != null and indexUnit != ''">#{indexUnit},</if>
            <if test="indexMin != null">#{indexMin},</if>
            <if test="indexMax != null">#{indexMax},</if>
            <if test="indexStatus != null">#{indexStatus},</if>
            <if test="updateDatetime != null">#{updateDatetime},</if>
         </trim>
    </insert>

    <update id="updateProductIndexInfo" parameterType="ProductIndexInfo">
        update product_index_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="indexName != null and indexName != ''">index_name = #{indexName},</if>
            <if test="indexUnit != null and indexUnit != ''">index_unit = #{indexUnit},</if>
            <if test="indexMin != null">index_min = #{indexMin},</if>
            <if test="indexMax != null">index_max = #{indexMax},</if>
            <if test="indexStatus != null">index_status = #{indexStatus},</if>
            <if test="updateDatetime != null">update_datetime = #{updateDatetime},</if>
        </trim>
        where product_index_id = #{productIndexId}
    </update>

    <delete id="deleteProductIndexInfoByProductIndexId" parameterType="String">
        delete from product_index_info where product_index_id = #{productIndexId}
    </delete>

    <delete id="deleteProductIndexInfoByProductIndexIds" parameterType="String">
        delete from product_index_info where product_index_id in 
        <foreach item="productIndexId" collection="array" open="(" separator="," close=")">
            #{productIndexId}
        </foreach>
    </delete>

</mapper>